<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="container">
        <img src="assets/logo.png" alt="Dizplai text logo">
        <% if (Object.keys(resultsData).length > 0 & Object.keys(pollData).length > 0) { %>
            <h1>Thank you for your response!</h1>
            <% // Get text for each poll option from pollData object %>
            <% let optionOne = pollData.options.find(option => option.optionId === 1);%>
            <% let optionTwo = pollData.options.find(option => option.optionId === 2);%>
            <% let optionThree = pollData.options.find(option => option.optionId === 3);%>
            <% let choices = [ {option: optionOne.optionText}, {option: optionTwo.optionText}, {option: optionThree.optionText}]; %>

            <% // Get result for each poll option from resultsData object %>
            <% let optionOneResult = resultsData.options.find(option => option.optionId === 1);%>
            <% let optionTwoResult = resultsData.options.find(option => option.optionId === 2);%>
            <% let optionThreeResult = resultsData.options.find(option => option.optionId === 3);%>
            <% let results = [ {option: optionOneResult.voteCount}, {option: optionTwoResult.voteCount}, {option: optionThreeResult.voteCount}]; %>
            
            <% // Calculate total votes %>
            <% let totalVotes = 0; %>
            <% results.forEach(result =>{ totalVotes += result.option }); %>
            
            <% // Combine choices and results into a new array with both optionText and voteCount for the same optionId %>
            <% let combinedResults = choices.map((choice, index) => ({ optionText: choice.option, votePercent: Math.round((results[index].option / totalVotes) * 100) })); %>

            <% // Sort the combinedResults array based on voteCount in descending order %>
            <% combinedResults.sort((a, b) => b.votePercent - a.votePercent); %>

            <% // Iterate over the sorted array to create the divs %>
            <% combinedResults.forEach(combinedResult => { %>
                <div class="result" style="background: linear-gradient(to right, #996BF9 <%= combinedResult.votePercent %>%, transparent <%= combinedResult.votePercent %>%)" aria-label="Poll Result"> 
                    <p class="option-text"><%= combinedResult.optionText %></p>
                    <p class="vote-count"><%= combinedResult.votePercent %>%</p>
                </div>
            <% }) %>
        <% } else { %>
            <div>
                <h1>Error Retrieving Poll Data</h1>
            </div>
        <% } %>
    </div>
</body>
</html>